body {
    background: url("../images/manhattan-336708_1920.jpg");
}

nav {
    background: #9fa8da;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
}

.mobile-nav {
    height: 35px;
    background: #7986cb;
}

.logo-name {
    font-family: 'Tangerine', cursive;
    font-size: 55px;
}


footer {
    padding: 20px 5px;
    clear: both;
    font-size: 19px;
    color: #fff;
    text-align: center;
    background: #666;
    border-top: 8px solid #464b63;
    /* height: 50px; */
    bottom: 0;
    position: absolute;
    width: 100%;

}

footer a {
    color: white;
}

footer a:hover {
    color: #7986cb;
}

/* parralax */
/* .main-image{ 
    background-image: url("../images/manhattan-336708_1920.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8%;
    margin-top: 50px;
    margin-bottom: 50px;
  } */

.index-header {
    text-align: center;
    font-size: 100;
    /* background: #c29fda; */
    margin: 0px 30px 0px 30px;
    padding: 15px 50px 0px 50px;
    height: 100px;
}

#name {
    font-size: 100px;
    font-family: 'Cinzel', serif;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

/* Tablet View
@media screen 
and (min-width: 641px)
and (max-width: 768px) {
.container {
        max-width: 768px;
    } 
    .main-section{
        max-width: 768px;
    }
    #logo {
        width: 768px;
    }
    nav {
        float: left;
        padding-left: 150px; 
    }

} */


/* Phone View */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0px;
        width: 100%;
        margin: 15px;
    }

    .index-header {
        text-align: center;
        margin-top: 0px;
        padding: 15px 20px 0px 20px;
        height: 90px;
    }

    #name {
        font-size: 45px;
        font-family: 'Cinzel', serif;
        width: 100%;
    }

    #name-2 {
        font-size: 20px;
        font-family: 'Cinzel', serif;
        width: 100%;
        padding: 0px 15px;
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
        padding-bottom: 20px;
    }

    .button-position {
        padding-top: 10px;
    }

    #welcome {
        margin-top: 25px;
    }

    #footer-text{
        width: 100%;
    }

}